<IfModule mod_rewrite.c>
    RewriteEngine On

    # Send everything to index.php if the requested resource does not exist
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteRule ^ index.php [QSA,L]

</IfModule>
