<IfModule mod_rewrite.c>
    RewriteEngine On
    RewriteBase /plugueplus-api

    # Não reescrever o próprio index.php
    RewriteRule ^index\.php$ - [L]

    # Redirecionar para index.php apenas se não existir arquivo/pasta
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteRule ^ index.php [QSA,L]
</IfModule>
